<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Compras</title>
    <link rel="stylesheet"
          href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'buylist_list_route' %}">Lista de
            Compras</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% if 'login_user' in request.path or 'register_user' in request.path %}
                <li class="nav-item active">
                    <a class="nav-link"
                       href="{% url 'login_user_route' %}">Login</a>
                </li>
                {% endif %}
            </ul>
             <ul class="navbar-nav">
                {% if 'login_user' not in request.path and 'register_user' not in request.path %}
                <li class="nav-item active">
                    <a class="nav-link"
                       href="{% url 'logout_user_route' %}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>