{% extends 'base.html' %}

{% block content %}
<a class="btn" href="{% url 'register_item_route' buylist_id %}">
    Adicionar Item</a>

<table class="table">
    <thead>
        <tr>
            <td><b>ID</b></td>
            <td><b>Produto</b></td>
            <td><b>Marca</b></td>
            <td><b>Quantidade</b></td>
            <td><b>Unidade</b></td>
            <td><b>Setor</b></td>
            <td><b>Observações</b></td>
        </tr>
    </thead>

    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.product.description }}</td>

            {% if item.product.brand %}
                <td>{{ item.product.brand }}</td>
            {% else %}
                <td>_</td>
            {% endif %}

            <td>{{ item.amount }}</td>
            <td>{{ item.unit }}</td>

            {% if item.product.section %}
                <td>{{ item.product.section }}</td>
            {% else %}
                <td>_</td>
            {% endif %}

            {% if item.notes %}
                <td>{{ item.notes }}</td>
            {% else %}
                <td>_</td>
            {% endif %}

            <td>
                <a class="btn btn-primary"
                   href="{% url 'edit_item_route' item.id %}">
                    Alterar</a>
            </td>
            <td>
                <a class="btn btn-danger"
                   href="{% url 'remove_item_route' item.id %}">
                    Remover</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}