{% extends 'base.html' %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Marca</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.brand }}</td>
        <td>
            <a href="{% url 'edit_product_route' product.id %}">Alterar</a>
        </td>
        <td>
            <a href="{% url 'remove_product_route' product.id %}">Remover</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}