{% extends 'base.html' %}

{% block content %}

<h1>Lista de Produtos</h1>
{% for product in products %}

    <div class="card-header">
        {{ product.id }}
    </div>

    <div class="card-body">
        <h5 class="card-title">{{ product.description }}</h5>
        {% if product.brand  %}
            <p class="card-text">{{ product.brand }}</p>
        {% endif %}
        <hr>
        <a href="{% url 'edit_product_route' product.id %}">Alterar</a>
        <a href="{% url 'remove_product_route' product.id %}">Remover</a>
    </div>

{% endfor %}

{% endblock content %}