{% extends 'base.html' %}

{% block content %}
<div class="row col-12 mt-4">
    <h4>
        <b>Tem certeza que deseja remover o item abaixo?</b>
    </h4>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Unidade</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ item.product.description }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.unit }}</td>
        </tr>
    </tbody>
</table>
<form method="post">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Remover</button>
     <a class="btn btn-success"
        href="{% url 'item_list_route' item.buylist.id %}">Voltar</a>
</form>

{% endblock content%}