{% extends 'base.html' %}

{% block content %}

<div class="row col-12 mt-4">
    <h4 class="m-auto">
        <b>Tem certeza que deseja remover a lista de compras abaixo?</b>
    </h4>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ buylist.name }}</td>
        </tr>
    </tbody>
</table>

<form method="post">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Remover</button>
    <a class="btn btn-info" href="{% url 'buylist_list_route' %}">Voltar</a>
</form>

{% endblock content%}